a {
    cursor: pointer;
}
#jumbo {
padding-top: 10px;
padding-bottom: 10px;
}
.page-settings{
    margin-top:10px;
    background-color: rgb(194, 196, 196);
    margin-bottom:10px;

}
.listApproveUsers{
    max-height: 100px;
    overflow-y: auto;
}

.previewTasks{
    max-height: 200px;
    overflow-y: auto;
}

.listTasks{
    max-height: 200px;
    overflow-y: auto;
}

.backgroundTasks{
    background-color: rgb(255, 255, 255);
    height: 200px;
}
.comment-main{
	background-color: rgb(148, 199, 219);
    box-shadow: 1px 2px 6px 2px #005B9A;
    margin-top: 20px;
    margin-bottom: 20px;
}
.comment-main ul{
	list-style: none;
}
.sub-cmt-img{
	width: 55px !important;
    height: 55px !important;
    border-radius: 50%;
} 
.main-cmt-img{
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
}
.border-bottom{
	font-size: 13px;
	border-bottom: 1px solid #d3d3d3;
}
.user-comment{
	background-color: #f3f3f3 !important;
    box-shadow: 0px 5px 8px -4px #c1c1c1;
}
.user-comment-desc, .user-comment span{
	color: #a0a0a0;
}
.user-comment-desc p{
	font-size: 12px;
	display: inline-block;
	float: left;
}
.send-icon i{
	font-size: 20px;
	background: #f3f3f3;
	padding: 6px 5px;
	border-radius: 50%;
	color: #74C2E1;
	height: 35px;
	width: 35px;
}
.user-comment:before{
    content: "";
    height: 0;
    width: 0;
    top: 0;
    left: -10px;
    position: absolute;
    border-style: solid;
    border-width: 13px 0 0 13px;
	border-color: #f3f3f3 transparent transparent transparent; 
}
.gavatar{
    color: rgb(255, 255, 255); background-color: #6d7172;
    display: inline-block; font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 18px; border-radius: 40px; width: 40px; height: 40px; line-height: 40px; text-align: center;
}
.comment-details{
    margin-right: 2px;
}