<div class="container" style="padding-top: 20px" style="padding-bottom: 20px">
    <div class="row">
        <div class="col-6">
            <h4>Backlog</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="list-group listTasks" role="tablist">
                <button class="list-group-item list-group-item-action" role="tab" data-toggle="list" data-target="#collapse-{{$index}}" ng-click="vm.selectTask(task.id)" ng-repeat="task in vm.tasksData track by task.id">{{task.title}}</button>
            </div>
        </div>
        <div class="col-8 listTasks backgroundTasks">
            <div class="tab-content">
                <div class="tab-pane fade" id="collapse-{{$index}}" role="tabpanel" ng-repeat="task in vm.tasksData track by task.id">
                    <table class="table table-borderless">
                        <tr>
                            <td>Descriere:
                            <td>{{task.description}}</td>
                        </tr>
                    
                        <tr>
                            <td>Prioritate:</td>
                            <td>{{task.priority.name}}</td>
                        </tr>
                        <tr>
                            <td>Deadline:</td>
                            <td>{{task.description | date: 'dd MMM yyyy'}}</td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane fade" id="list-profiles" role="tabpanel">
                        Profile
                </div>
                <div class="tab-pane fade" id="list-messages" role="tabpanel">
                        Messages
                </div>
                <div class="tab-pane fade" id="list-settings" role="tabpanel">
                    Settings
                </div>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <div class="row" style="padding-top: 20px" style="padding-bottom: 20px">
        <div class="col-6 col-sm-4">
            <button type="submit" class="btn btn-success" ng-click="vm.saveTask(false)">Adauga</button>
            <button type="submit" class="btn btn-danger">Sterge</button>
            <button type="submit" class="btn btn-primary" ng-click="vm.saveTask(true)">Editeaza</button>
        </div>
    </div>
    
    <!--Comments-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-12 comment-main rounded">
                <h5>Comentarii</h5>
                <ul class="p-0">
                    <li ng-show="vm.isActive(1)">
                        <div class="row comment-box p-1 pt-3 pr-4">
                            <div class="col-lg-1 col-1 user-img text-center">
                                <div class="gavatar">PB</div>
                            </div>
                            <div class="col-lg-11 col-11 user-comment bg-light rounded pb-1">
                                <div class="row">
                                    <div class="col-lg-8 col-6 border-bottom pr-0">
                                        <p class="w-100 p-2 m-0">Lorem ipsum dolor sit amet.sadfagasdgdasgsagawegafgadfbadf vadfvadfbabadfbadfbfdab fadbadbafbabadbafbabab fabadbabadba</p>
                                    </div>
                                    <div class="col-lg-4 col-6 border-bottom">
                                        <p class="w-100 p-2 m-0"><span class="float-right"><i class="fa fa-clock-o mr-1" aria-hidden="true"></i>01 : 00</span></p>
                                    </div>
                                </div> 
                                <div class="user-comment-desc p-1 pl-2">
                                    <p class="m-0 mr-2"><span><i class="fa fa-user comment-details" aria-hidden="true"></i></span>Petcu Barbu</p>                      
                                    <p class="m-0 mr-2"><span><i class="fa fa-calendar comment-details" aria-hidden="true"></i></span>05/10/2018</p>                      
                                </div>    
                            </div>
                        </div>
                    </li>
                    <li ng-show="vm.isActive(2)">
                            <div class="row comment-box p-1 pt-3 pr-4">
                                <div class="col-lg-1 col-1 user-img text-center">
                                    <div class="gavatar">AP</div>
                                </div>
                                <div class="col-lg-11 col-11 user-comment bg-light rounded pb-1">
                                    <div class="row">
                                        <div class="col-lg-8 col-6 border-bottom pr-0">
                                            <p class="w-100 p-2 m-0">Comentarii task2</p>
                                        </div>
                                        <div class="col-lg-4 col-6 border-bottom">
                                            <p class="w-100 p-2 m-0"><span class="float-right"><i class="fa fa-clock-o mr-1" aria-hidden="true"></i>01 : 00</span></p>
                                        </div>
                                    </div> 
                                    <div class="user-comment-desc p-1 pl-2">
                                        <p class="m-0 mr-2"><span><i class="fa fa-user comment-details" aria-hidden="true"></i></span>Pirvu Alexandra</p>                      
                                        <p class="m-0 mr-2"><span><i class="fa fa-calendar comment-details" aria-hidden="true"></i></span>05/10/2018</p>                      
                                    </div>    
                                </div>
                            </div>
                        </li>
                    <hr>
                    <div class="row">
                        <div class="col-lg-11 col-11">
                            <input type="text" class="form-control" placeholder="adauga comentarii ...">
                        </div>
                        <div class="col-lg-1 col-2 send-icon text-center">
                            <a href="http://nicesnippets.com/" target="_blank"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>

</div>